<table class="table table-striped">
  <thead>
    <tr>
      <td><b>Nome do Palestrante</b></td>
      <td align="center"><b>Título da Palestra</b></td>
      <td colspan="2" align="center"><b>Ações</b></td>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let palestrante of palestrantes">
      <td align="justified">{{ palestrante.nomePalestrante }}</td>
      <td align="justified">{{ palestrante.tituloPalestra }}</td>
      <td align="justified"><a [routerLink]="['/palestrante', palestrante._id]" class="btn btn-success"> <fa name="edit"></fa> Editar</a></td>
      <td align="justified"><button (click)="excluirPalestrante(palestrante._id)" class="btn btn-danger"> <fa name="trash"></fa> Excluir</button></td>
    </tr>
  </tbody>
</table>
