<div class="card">
  <div class="card-body">
    <form [formGroup]="palestranteForm" novalidate>
      <div class="col-md-6 col-md-offset-3">

        <!-- Bloco Início: Nome do Palestrante -->
        <div class="form-group">
          <label>Nome do Palestrante</label>
          <input type="text" class="form-control" formControlName="nomePalestrante" #nomePalestrante />
        </div>
        <div *ngIf="palestranteForm.controls['nomePalestrante'].invalid
          && (palestranteForm.controls['nomePalestrante'].dirty
          || palestranteForm.controls['nomePalestrante'].touched)" class="alert alert-danger">
          <div *ngIf="palestranteForm.controls['nomePalestrante'].errors.required">
            Campo Obrigatório.
          </div>
        </div>
        <!-- Bloco Fim: Nome do Palestrante -->

        <!-- Bloco Início: Título da Palestra -->
        <div class="form-group">
          <label>Título da Palestra</label>
          <input type="text" class="form-control" formControlName="tituloPalestra" #tituloPalestra />
        </div>
        <div *ngIf="palestranteForm.controls['tituloPalestra'].invalid
          && (palestranteForm.controls['tituloPalestra'].dirty
          || palestranteForm.controls['tituloPalestra'].touched)" class="alert alert-danger">
          <div *ngIf="palestranteForm.controls['tituloPalestra'].errors.required">
            Campo Obrigatório.
          </div>
        </div>
        <!-- Bloco Fim: Título da Palestra -->

        <div class="form-group">
          <button (click)="adicionarPalestrante(nomePalestrante.value, tituloPalestra.value)"
            type="submit" class="btn btn-primary"
            [disabled]="palestranteForm.pristine || palestranteForm.invalid"><fa name="plus"></fa> Palestrante</button>
        </div>
      </div>
    </form>
  </div>
</div>
