<ng2-slim-loading-bar color="purple" height="10px" progress=10></ng2-slim-loading-bar>

<nav class="navbar navbar-expand-sm" bg-light>
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="funcionario/create" class="nav-link" routerLinkActive="active">Adicionar Funcionario</a>
      </li>
      <li class="nav-item">
        <a routerLink="funcionario" class="nav-link" routerLinkActive="active">Funcionários</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
