<ng2-slim-loading-bar color="purple" height="10px" progress=10></ng2-slim-loading-bar>

<nav class="navbar navbar-expand-sm" bg-light>
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="palestrante/create" class="nav-link" routerLinkActive="active">Adicionar Palestrante</a>
      </li>
      <li class="nav-item">
        <a routerLink="palestrante" class="nav-link" routerLinkActive="active">Palestrantes</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
