<table class="table table-striped">
  <thead>
    <tr>
      <td ><b>Nome do Funcionário</b></td>
      <td align="center"><b>Cargo</b></td>
      <td align="center"><b>Número Identificador</b></td>
      <td colspan="2" align="center"><b>Ações</b></td>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let funcionario of funcionarios">
      <td>{{ funcionario.nomeFuncionario }}</td>
      <td align="center">{{ funcionario.cargo }}</td>
      <td align="center">{{ funcionario.numeroIdentificador }}</td>
      <td align="center"><a [routerLink]="['/funcionario', funcionario._id]" class="btn btn-success"> <fa-icon [icon]="['fas','edit']"></fa-icon> Editar</a></td>
      <td align="center"><button (click)="excluirFuncionario(funcionario._id)" class="btn btn-danger"> <fa-icon [icon]="['fas','trash']"></fa-icon> Excluir</button></td>
    </tr>
  </tbody>
</table>
